/*RESET*/

* {
    margin: 0;
    box-sizing: border-box;
}

*:not(ul) {
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.done {
    text-decoration: line-through;
}

li {
    cursor: pointer;
}